// Cursor
// @each $cursor in $tl-cursors {
//   .cursor-#{$cursor} { cursor: $cursor; }
// }

// Line height
// @each  $prop, $value  in $tl-line-height {
//   .line-height-#{$prop} { line-height: $value; }
// }

// Min Width
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $size, $length in $sizes {
      .min-w#{$infix}-#{$size} {
        min-width: #{$length};
      }
    }
  }
}

@for $i from 1 through 100 {
  $value: $i * 10;

  .min-w-px-#{$value} {
    min-width: #{$value}px;
  }
}

// Fonts
@each  $prop, $value  in $font-sizes {
  .font-size-#{$prop} { font-size: $value; }
}


// Shadows
@each  $prop, $value  in $theme-shadow {
  .shadow-#{$prop} { box-shadow: $value; }
}

// Overflow
.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

// z-index
.z-index-1000 {
  z-index: 1000;
}

.z-index-999 {
  z-index: 999;
}

.cursor-pointer {
  cursor: pointer;
}
