$tl-cursors: default, pointer, not-allowed, move;

// Color system
$tl-white: #fff;
$tl-white-depth-1: #fafafa;
$tl-blue: #0097e6;
$tl-blue-darken: #479fd8;
$tl-blue-darken-3: #273c75;
$tl-green: #44bd32;
$tl-green-accent: lighten($tl-green, 10%);
$tl-red: #e84118;
$tl-red-accent: lighten($tl-red, 10%);
$tl-yellow: #f5b332;
$tl-yellow-accent: lighten($tl-yellow, 10%);
$tl-black: #000;
$tl-purple-darken: #897ee1;
$tl-purple-accent: #9999ff;
$tl-cyan-darken: #00acc1;
$tl-cyan-accent: #33ffcc;
$tl-peachy: #fff3f6;
$tl-light-blue: #b6defd;
$tl-gray: #a1a1a1;
$tl-purple: #8A7EE1;

$tl-purple-gradient: linear-gradient(90deg, rgb(170, 80, 224) 0%, rgb(170, 80, 224) 0%, rgb(153, 102, 255) 100%, rgb(153, 102, 255) 100%);
$tl-blue-gradient: linear-gradient(90deg, rgb(102, 102, 255) 0%, rgb(102, 102, 255) 0%, rgb(102, 153, 255) 100%, rgb(102, 153, 255) 100%);

// Theme system
$tl-light: #f2f2f2;
$tl-secondary: #797979;

// Components
$tl-hover-darken-level: 10%;

$tl-border: #dcdfe6;
$tl-border-radius: 3px;
$tl-border-color: #e4e7ed;
$tl-border-darken-color: #c5ccd9 ;

$tl-main-bg: #f5fafd;
$tl-aside-bg: #f5f6fa;
$tl-header-bg: #192a56;
$tl-header-sub-bg: #273c75;
$tl-listing-hover-bg: #f5f6fa;
$tl-listing-active-bg: #ecf5ff;
$tl-disable-bg: #edf2fc;

$tl-box-shadow: 0 0.125rem 0.25rem rgba($tl-black, 0.075);
$theme-shadow: (green: (0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4)), yellow: (0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4)), red: (0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4)));

// Select
$tl-select-hover-bg: lighten($tl-blue, 50%);

// Table
$tl-table-header-dark-gray: #aeaeae;
$tl-table-header-light-gray: #c9c9c9;
$tl-table-header-lighter-gray: #d7d7d7;
$tl-table-header-light-blue: #84b7e9;
$tl-table-alice-blue: #ECF5FF;

// Font, line-height, and color for body text, headings, and more.
$tl-font-family-base: "MetaNormalCyrLF-Roman", sans-serif;
$font-sizes: (base: 0.8125rem, sm: 0.75rem, md: 0.875rem, lg: 1rem);
$tl-font-weight-base: 400;
$tl-line-height-base: 1.5;
$tl-line-height: (base: 1.5, xs: 1, sm: 1.25, md: 1.75, lg: 2, xl: 2.65);

$tl-text-base: #666666;
$tl-text-secondary: #718093;
$tl-text-muted: #AEAEAE;
$tl-text-dark: #333333;
$tl-text-placeholder: #c0c4cc;
